@model List<CategoryWithBlogsCountModel>

<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.CategoryName
                <span class="badge badge-primary badge-pill">@item.BlogsCount</span>
            </li>
        }
    </ul>
</div>