@model CategoryListModel

<div class="border border-dark p-3 my-2">
    <strong>@Model.Name </strong> kategorisine ait sonuçlar:
    <a asp-action="Index" class="float-right">Filtreyi Kaldır</a>
</div>