@model AppUserLoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/simplex.css" rel="stylesheet" />
</head>
<body>
    <form asp-action="SignIn" method="post" class="w-50 mt-5 p-3 mx-auto shadow">

        <div class="form-group">
            <label asp-for="UserName">Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Şifre</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Giriş Yap</button>

    </form>
</body>
</html>