@model List<BlogListModel>
@{
    ViewData["Title"] = "Blog Listesi";
}

<h4 class="mt-4">Blog Listesi</h4>

<a class="btn btn-info btn-sm my-4" asp-area="Admin" asp-controller="Blog" asp-action="Create">Yeni Blog Yaz</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center" style="width: 5%">Id</th>
            <th>Başlık</th>
            <th class="text-center" style="width: 15%;">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">@item.Id</td>
            <td>@item.Title</td>
            <td class="text-center">
                <a asp-area="Admin" asp-controller="Blog" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Düzenle</a>
                <a asp-area="Admin" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Sil</a>
            </td>
        </tr>
        }
    </tbody>
</table>